main.Site-content.About {
	display: flex;
  flex-flow: column;
}

.about-image {
	width:100%;
}

.right-side { 
	margin-left: 110px;
	margin-right: 10px;
		@include respond-to(medium-screens) { 
	 	margin:10px;
	}
}
.left-side {
	background-color: gray;
}

.right-side, .left-side {
	flex:1;
	width: 960px;
	max-width: 960px;
	display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: auto;
  // margin-bottom: auto;
	@include respond-to(handhelds) { 
	 	margin:0px;
	}

}


.page.About { 
	width:100%; height:100%; 
	flex:2;
	display: flex;
  flex-flow: row;
  flex:2;
	display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;  
	-webkit-flex:2;
  -webkit-flex-flow: row;
  @include respond-to(handhelds) { 
  	flex-flow: column;
  	-webkit-flex-flow: column;
	}
	  @include respond-to(medium-screens) { 
  	flex-flow: column;
  	-webkit-flex-flow: column;
	}
}



.Site.About { 
	background-color:white;
	p {
		font-size:20px;
		font-family: OpificioN;
		color:$secondary;
		line-height: 25px;
	}
}
.page-headings {
	text-align:right;
	padding-right:50px;
	background-color:$primary;
	h1 {
		font-family:Opificio;
		color:white;
		font-size: 50px;
		font-weight: 100;
		-webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-font-smoothing: antialiased;
		@include respond-to(handhelds) { 
		 	font-size: 30px;
		}
		@include respond-to(medium-screens) { 
		 	font-size: 30px;
		}
	}
	
}

.content-box {
	margin-right:10px;
	p {
		@include respond-to(handhelds) { 
			margin:10px;
			font-size: 15px !important;
		}
	}
}



