main.Site-content.About {
	display: flex;
  flex-flow: column;
}

.about-image {
	width:100%;
}

.right-side { 
	margin-left: 110px;
	margin-right: 10px;
		@include respond-to(medium-screens) { 
	 	margin:10px;
	}
	@include respond-to(ipad-vertical) { 
		margin: 0px;
	}
}
.left-side {
	background-color: gray;
	@include respond-to(ipad-vertical) { 
		overflow:hidden;
	 	height: 400px;
	}
	@include respond-to(handhelds) { 
		overflow:hidden;
	 	height: 190px;
	}
}

.right-side, .left-side {
	flex:1;
	width: 50%;
	margin: auto;
	// max-width: 960px;
	display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: auto;
  // margin-bottom: auto;
  @include respond-to(ipad-vertical) { 
  	width:100%;
  }
  @include respond-to(handhelds)  { 
  	width:100%;
  }
}


.page.About { 
	width:100%; height:100%; 
	flex:2;
	display: flex;
  flex-flow: row;
  flex:2;
	display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;  
	-webkit-flex:2;
  -webkit-flex-flow: row;
  @include respond-to(handhelds) { 
  	flex-flow: column;
  	-webkit-flex-flow: column;
	}
	  @include respond-to(medium-screens) { 
  	flex-flow: column;
  	-webkit-flex-flow: column;
	}
}



.Site.About { 
	background-color:white;
}



.page-headings {
	text-align:right;
	margin-left: 152px;
	padding-right:50px;
	background-color:$primary;
	h1 {
		font-family:Opificio;
		color:white;
		font-size: 35px;
		font-weight: 100;
		-webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-font-smoothing: antialiased;
		@include respond-to(handhelds) { 
		 	font-size: 30px;
		}
		@include respond-to(medium-screens) { 
		 	font-size: 30px;
		}
		@include respond-to(ipad-vertical) { 
		 	margin-top: 0px;
		}
	}
	@include respond-to(ipad-vertical) { 
	 	margin-left: 0px;
	}
	@include respond-to(handhelds)  { 
		margin-left:0px;
		padding-right:20px;
	}
	@include respond-to(medium-screens)  { 
		margin-left:0px;
	}
}

.content-box {
	margin-right:0px;
	padding-right: 15px;
	@include respond-to(handhelds) { 
		padding-right:0px;
	}
	p {
	  margin: 16px 10px;
		margin-left: 152px;
		font-size: 15px;
		font-family: OpificioN;
		color: $secondary;
		line-height: 25px;
		@include respond-to(handhelds) { 
			margin:10px;
			font-size: 15px !important;
		}
		@include respond-to(medium-screens) { 
			margin:10px;
			font-size: 15px !important;
		}
		@include respond-to(ipad-vertical) { 
			margin: 0px 30px 0px 30px;
			line-height: 28px;
			font-size: 14px;
		}
	
	}
		@include respond-to(ipad-vertical) { 
			margin: 0px;
			margin-top: -20px;
		}
}

h1.page-headings-text {
	@include respond-to(handhelds) { 
		margin:0px;
		padding-top: 3px;
		padding-bottom: 3px;
		font-size: 25px;
	}
}

.page-description {
	@include respond-to(handhelds) { 
		// height: 270px;
		// overflow: auto;
	}
}


