//Font face
@font-face { font-family: Arista; src: url(../../../fonts/Arista2.0.ttf); }
@font-face { font-family: DK; src: url(../../../fonts/DK.ttf); }
@font-face { font-family: Eras; src: url(../../../fonts/Eras_Demi_ITC.ttf); }
@font-face { font-family: KG; src: url(../../../fonts/KGRedHands.ttf); }
@font-face { font-family: soulmate; src: url(../../../fonts/soulmate.ttf); }
@font-face { font-family: OpificioN; src: url(../../../fonts/Opificio-neue-regular.ttf); }
@font-face { font-family: Opificio; src: url(../../../fonts/Opificio.ttf); }
@font-face { font-family: NexaBold; src: url(../../../fonts/NexaBold.otf); }
@font-face { font-family: NexaLight; src: url(../../../fonts/NexaLight.otf); }


