footer {
	// border-top: 3vh solid $gray;
	padding: 0px;
	color: #aaa;
	border-top: 1px solid #ddd;

	@include respond-to(handhelds) { 
		padding: 10px;
		font-size: 15px !important;
		border-top: 0px;
		// position:fixed;
		// bottom:0px;
		// z-index: 1;
		// width:100%;
	}

	nav {
		margin-top: 0px;
		float: none;
		text-align: left;
	}


}