
//Slideshow captions
.in-slide-content {
  padding: 1.5vw 2.5vw;
}

.in-slide-content-1 {
	@include reset;
	display: block;
}

.in-slide-content-2 {
	@include reset;
	display: block;
	margin-left: 10vw;
}




//iPad sizing
@media screen and (orientation:portrait) and (min-width: 768px) and (max-width: 768px) {
	div.mc-image:nth-child(10) {
		background-position: -533px;
	}
	div.mc-image:nth-child(8) {
		background-position: -533px;
	}
	div.mc-image:nth-child(9) {
		background-position: -533px;
	}	
	div.mc-image:nth-child(2) {
		background-position: -533px;
	}
}

//iPhone sizing
@media screen and (orientation:portrait) and (min-width: 320px) and (max-width: 320px) {
	div.mc-image:nth-child(10) {
		background-position: -223px;
	}
	div.mc-image:nth-child(8) {
		background-position: -223px;
	}
	div.mc-image:nth-child(9) {
		background-position: -223px;
	}	
	div.mc-image:nth-child(2) {
		background-position: -23px;
	}
}