  li.menu-item { 
    color: white;
    font-size: 16px;
  	font-family: KG;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: -4px;
  	-webkit-text-stroke-color: rgb(255,255,255);
  	// -webkit-text-stroke-width: 1px;
  	-webkit-font-smoothing: antialiased;
  	font-weight:100;
    // border-bottom: solid 2px $primary;
    @include respond-to(ipad-horizontal) { 
    		font-size: 11px;
    }
}

li.menu-item:after{ 
	background-size: 25px 25px;
	margin: auto; 
	display: block;
	text-decoration:none;
	content:"";
	font-color: #9D9D9D;
	width: 25px;
	height: 25px;
	@include respond-to(medium-screens) { 
			padding: 0px; 
			background-size: 30px 30px;
			content:"";
			width: 30px;
			height: 30px;
	}
}

li.menu-item.footer:after{ 
	background-size: 30px 30px;
	margin: auto; 
	display: block;
	text-decoration:none;
	content:"";
	font-color: #9D9D9D;
	width: 30px;
	height: 30px;
	padding: 10px;
}

li.menu-item.footer { 
	padding: 10px 10px 40px 20px;
	@include respond-to(handhelds) { 
			padding: 3px; 
	}
}

li.menu-item.current { 
	background-color: $primary;
	color: white;
}

li.menu-item.nav:hover, li.menu-item.nav.current:after { 
	background-color: $primary;
}

li.menu-item:after{ 
	 margin: auto; 
	 display: block;
	 font-size: 16px;
	 text-decoration:none;
	 background-size: 50px 50px;
	 content:"";
	 width: 50px;
	 height: 50px;
	 font-color: #9D9D9D;
	 @include respond-to(ipad-horizontal) { 
	 		padding: 0px; 
	 		background-size: 35px 35px;
	 		content:"";
	 		width: 35px;
	 		height: 35px;
	 }
} 


li.menu-item.nav:hover {
	color: white;
	background-color: $primary;
}

// li.menu-item:hover {
// 	border-bottom: solid 2px white;
// }
// 
li.menu-item.nav:hover:after { background-color: $primary;}

li.menu-item.about:after{ background-image: url(images/icons/about_black.png); } 
li.menu-item.about.current:after, li.menu-item.about:hover:after{ background-image: url(images/icons/about_white.png);} 

li.menu-item.contact:after{ background-image: url(images/icons/contact_black.png); } 
li.menu-item.contact:hover:after, li.menu-item.contact.current:after{ background-image: url(images/icons/contact_white.png); } 

li.menu-item.home:after{ background-image: url(images/icons/home_black.png); } 
li.menu-item.home:hover:after, li.menu-item.home.current:after{ background-image: url(images/icons/home_white.png); } 

li.menu-item.portfolio:after{ background-image: url(images/icons/portfolio_black.png); } 
li.menu-item.portfolio:hover:after, li.menu-item.portfolio.current:after{ background-image: url(images/icons/portfolio_white.png); } 

li.menu-item.blog:after{ background-image: url(images/icons/blog_black.png); } 
li.menu-item.blog:hover:after, li.menu-item.blog.current:after{ background-image: url(images/icons/blog_white.png); } 

li.menu-item.facebook:after{ background-image: url(images/icons/facebook.png); } 
li.menu-item.facebook:hover:after, li.menu-item.facebook.current:after{ background-image: url(images/icons/facebook_v2.png); } 

li.menu-item.dribble:after{ background-image: url(images/icons/dribble.png); } 
li.menu-item.dribble:hover:after, li.menu-item.dribble.current:after{ background-image: url(images/icons/dribble_v2.png); } 

li.menu-item.linkedin:after{ background-image: url(images/icons/linkedin.png); } 
li.menu-item.linkedin:hover:after, li.menu-item.linkedin.current:after{ background-image: url(images/icons/linkedin_v2.png); } 

li.menu-item.instagram:after{ background-image: url(images/icons/instagram.png); } 
li.menu-item.instagram:hover:after, li.menu-item.instagram.current:after{ background-image: url(images/icons/instagram_v2.png); } 
