  
li.menu-item a:after{ 
	background-size: 25px 25px;
	margin: auto; 
	display: block;
	text-decoration:none;
	content:"";
	font-color: #9D9D9D;
	width: 25px;
	height: 25px;
}

.current { 
	background-color: $primary;
}

li.menu-item { 
  color: white;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: -4px;
  // border-bottom: solid 2px $primary;
}

li.menu-item:hover, li.menu-item.current a:after { 
	background-color: $primary;
}

li.menu-item a:after{ 
	 margin: auto; 
	 display: block;
	 font-size: 30px !important;
	 text-decoration:none;
	 background-size: 50px 50px;
	 content:"";
	 width: 50px;
	 height: 50px;
	 font-color: #9D9D9D;
} 



li.menu-item a:hover {
	color: white;
	background-color: $primary;
}

// li.menu-item:hover {
// 	border-bottom: solid 2px white;
// }
// 
li.menu-item a:hover:after { background-color: $primary;}

li.menu-item.about a:after{ background-image: url(images/icons/about_black.png); } 
 li.menu-item.about:hover a:after{ background-image: url(images/icons/about_white.png);} 

li.menu-item.contact a:after{ background-image: url(images/icons/contact_black.png); } 
li.menu-item.contact a:hover:after, li.menu-item.contact.current a:after{ background-image: url(images/icons/contact_white.png); } 

li.menu-item.home a:after{ background-image: url(images/icons/home_black.png); } 
li.menu-item.home a:hover:after, li.menu-item.home.current a:after{ background-image: url(images/icons/home_white.png); } 

li.menu-item.portfolio a:after{ background-image: url(images/icons/portfolio_black.png); } 
li.menu-item.portfolio a:hover:after, li.menu-item.portfolio.current a:after{ background-image: url(images/icons/portfolio_white.png); } 

li.menu-item.blog a:after{ background-image: url(images/icons/blog_black.png); } 
li.menu-item.blog a:hover:after, li.menu-item.blog.current a:after{ background-image: url(images/icons/blog_white.png); } 

li.menu-item.facebook a:after{ background-image: url(images/icons/facebook.png); } 
li.menu-item.dribble a:after{ background-image: url(images/icons/dribble.png); } 
li.menu-item.linkedin a:after{ background-image: url(images/icons/linkedin.png); } 
li.menu-item.instagram a:after{ background-image: url(images/icons/instagram.png); } 
