@mixin thinfont {
	  -webkit-text-stroke-color: rgb(255,255,255);
    -webkit-text-stroke-width: 0px;
    -webkit-font-smoothing: antialiased;
    font-weight:500;
}

$break-small:  640px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == ipad-horizontal {
    @media only screen and (min-width: 1024px) and (max-width: 1024px) { @content; }
  }
  @else if $media == ipad-vertical {
    @media only screen and (min-width: 768px) and (max-width: 768px) { @content; }
  }
}