
//
// VARIABLES
//

$space: 1.5em;
$space-lg: 2em;
$bg-color: hsl(150, 45%, 50%);
// Colors
$blue: #4183C4;
$gray: #494949;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #EDEDED;
$white: #fff;
$primary: #49A8BA;
$secondary: #8D8D8D;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}